* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
  }

.custom-table {
  caption-side: top;
  caption-side: top;
  margin-top: 5px;
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  padding: 10px;
  text-align: center;
  /* border: 1px solid #ececec; */
}

.custom-table th {
  background-color: #f5f5f5;
}

.custom-table td {
  vertical-align: middle;
}

.custom-table a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  cursor: pointer;
}

caption {
    text-align: center;
}

.footer-img {
    transition: margin-left 0.3s ease; /* Smooth transition for margin change */
  }

  /* Small screens (phones, up to 767px) */
  @media screen and (max-width: 767px) {
    .footer-img {
      margin-left: 0; /* No margin adjustment on small screens */
    }
  }

  /* Medium screens (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    .footer-img {
      margin-left: 0; /* Adjust margin for medium screens */
    }
  }

  /* Large screens (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    .footer-img {
      margin-left: 0; /* Adjust margin for large screens */
    }
  }

  /* Extra large screens (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    .footer-img {
      margin-left: 0; /* Further adjust margin for extra large screens */
    }
  }

  @media screen and (max-width: 540px) {
    .footer-img {
      margin: 0 auto; /* Center image horizontally */
      display: block; /* Ensure block-level display for centering */
      order: -1; /* Move image above text */
    }
    .text-md-start {
        text-align: center; /* Center-align text for smaller screens */
      }
    }

    footer {
      margin-top: 30px;
      text-align: center;
    }